@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500|Rubik:500, 600");
@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@font-face {
    font-family: 'themify';
    src: url('themify-icons/fonts/themify.eot?-fvbane');
    src: url('themify-icons/fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'),
    url('themify-icons/fonts/themify.woff?-fvbane') format('woff'),
    url('themify-icons/fonts/themify.ttf?-fvbane') format('truetype'),
    url('themify-icons/fonts/themify.svg?-fvbane#themify') format('svg');
    font-weight: normal;
    font-style: normal;
}
:root {
    --container-width: 1270px;
    --container-padding: 20px;
    --secondary: rgba(0, 0, 0, 0.5);
}
.header_area {
    position: absolute;
    width: 100%;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
}
.header_area .navbar .nav .nav-item .nav-link {
    font: 500 14px/80px "Rubik", sans-serif;
    text-transform: capitalize;
    color: #002347;
    padding: 0;
    display: inline-block;
    margin-right: 45px;
}

.home_banner_area {
    z-index: 1;
    min-height: 900px;
    position: relative;
    background: url(../img/banner/home-banner.jpg) no-repeat center;
    background-size: cover;
}

.home_banner_area .header_content {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
}


/*.nav_logo {*/
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 10px;
}


.header_badge, .header_title {
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #002347;
    font-weight: 500;
}

.header_badge {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.header_title {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.header_btn {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.btn1, .btn2 {
    display: inline-block;
    width: 170px;
    margin-bottom: 0;
    height: 50px;
    align-items: center;
    column-gap: 10px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.btn1 {
    padding: 0;
    color: #fdc632;
    background-color: #002347; !important;
}

.btn2 {
    color: #002347;
    border: 1px solid #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fdc632;
}

a.btn2:link, a.btn1:link, a.btn1:visited, a.btn2:visited {
    text-decoration: none;
    outline: none !important;
}

.btn1:hover {
    background: transparent;
    color: #002347;
    border: 1px solid #002347;
}

.btn2:hover {
    background: #002347;
    color: #fdc632;
    border: 1px solid #002347;
}

/*feature area*/
.feature_area {
    margin-top: 124px;
    margin-bottom: 100px;
}

.single_feature {
    position: relative;
    background: #f9f9ff;
    padding: 40px 36px;
    margin-bottom: 30px;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.row {
    padding-top: 84px;
}

/*POPULAR COURSES*/
.popular_courses {
    padding-bottom: 100px;
}

@media (max-width: 991px) {
    .popular_courses {
        padding-bottom: 40px;
    }
}

.single_course .course_head {
    position: relative;
    overflow: hidden;
}

.single_course .course_head img {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single_course .price {
    position: absolute;
    top: -34px;
    right: 15px;
    color: #002347;
    display: inline-block;
    height: 65px;
    line-height: 65px;
    width: 65px;
    text-align: center;
    border-radius: 50px;
    background: #fdc632;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.single_course .price img {
    margin-top: -8px;
    transition: all 0.3s ease 0s;
}

.single_course .course_body {
    padding: 30px 26px;
    background: #f9f9ff;
    position: relative;
    transition: all 0.3s ease 0s;
}

.single_course .course_body .tag {
    padding: 2px 21px;
    font-size: 13px;
    color: #fff;
    background: #002347;
    text-transform: uppercase;
}

.single_course .course_body h4 {
    font-size: 20px;
    font-weight: 500;
}

.single_course .course_body h4 a {
    color: #002347;
}

.single_course .course_body .course_meta {
    margin-top: 25px;
}

.single_course .course_body .course_meta .meta_info a {
    color: #002347;
}

.single_course .author img {
    width: auto;
    display: inline-block;
}

.single_course .author span {
    color: #002347;
    font-weight: 500;
}

.single_course:hover .course_head img {
    transform: scale(1.2);
}

.single_course:hover .course_body {
    background: #fff;
}

.single_course:hover .price {
    background: #002347;
    color: #fdc632;
}

.single_course:hover h4 a {
    color: #fdc632;
}

/*END POPULAR COURSES*/
/*COUNTDOWN START*/

.registration_area {
    background-color: #002347;
}

.clock_sec h1 {
    font-size: 42px;
    color: #fff;
    font-weight: 500;
}

.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
    color: #fff;
}

.register_form {
    background: #fff;
    text-align: center;
    margin-bottom: 100px;
    padding: 25px 41px 25px 25px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-center {
    text-align: center !important;
}

.register_form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eeeeee;
    padding: 14px;
}

.register_form .primary-btn {
    width: 100%;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
}

.primary-btn {
    display: inline-block;
    background: #fdc632;
    padding: 0 48px;
    color: #002347;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease 0s;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-left: -3px;
    padding-left: 60px;
    padding-right: 43px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: -217px;
    gap: 20px;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    padding-top: 10px;
}

.count {
    background: #334f6c;
    padding: 35px 20px;
    margin-right: 15px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.countdown > div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.number {
    font-weight: 500;
    font-size: 44px;
    color: #CAA78C;
}

div span:last-of-type {
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
}

.countdown {
    gap: 10px;
}

.countdown > div {
    width: 60px;
    height: 80px;
}


/*COUNTDOWN END*/
/* Start Trainers Area css
============================================================================================ */
.mb-3 {
    margin-left: 70px
}

.trainer_area {
    padding-bottom: 100px;
}

@media (max-width: 991px) {
    .trainer_area {
        padding-bottom: 40px;
    }
}

.trainer {
    margin-bottom: 30px;
}

.trainer .thumb {
    position: relative;
}

.trainer .meta-text {
    padding: 20px 25px;
    box-shadow: 0 0 30px rgba(153, 153, 153, 0.13);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #ffffff;
}

@media (max-width: 991px) {
    .single-trainer .meta-text {
        padding: 20px 20px;
    }
}

.trainer .meta-text h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.trainer .meta-text .designation {
    font-size: 14px;
    margin-bottom: 30px;
}

.trainer .meta-text a {
    font-size: 14px;
    margin: 0 10px;
    color: #cccccc;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.trainer .meta-text a:hover {
    color: #fdc632;
}

.trainer:hover .meta-text {
    box-shadow: 0 10px 30px rgba(0, 35, 71, 0.15);
}

/* End Trainers Area css
============================================================================================ */
/*events*/
.events_area {
    padding: 130px 0 100px;
    background: #002347;
}
.primary-btn {
    text-decoration: none;
    outline: none;
}
.single_event .event_details {
    background: rgba(0, 35, 71, 0.5);
    position: absolute;
    top: 0;
    right: 53px;
    width: 275px;
    padding: 30px 25px;
    color: #ffffff;
    text-decoration: none;
}
.single_event:hover, .single_event:focus {
    text-decoration: none;
    outline: none;
}
.event_details:hover, .event_details:focus {
    text-decoration: none;
    outline: none;
}
.main_title p {
    font-size: 16px;
    margin-bottom: 0;
    font-style: italic;
    color: #7b838a;;
}
.events_area .event-link {
    color: #fdc632;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}
.event-link a {
    text-decoration: none;
    transition: all 0.3s ease-in-out; }
a:hover, a:focus {
    text-decoration: none;
    outline: none; }
/*events*/
.section_gap {
    padding-bottom: 120px;
}
.slider_area .owl-carousel .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    background: #d8d8d8;
    border-radius: 17px;
    display: inline-block;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
}
.slider_area .owl-carousel .owl-dots .owl-dot.active {
    height: 10px;
    width: 10px;
    background: #fdc632;
    text-align: center;}
.slider_area .owl-carousel .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    background: #d8d8d8;
    border-radius: 17px;
    display: inline-block;
    margin-right: 10px;}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    text-align: center;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.footer-area {
    background: #002347; }
@media (max-width: 991px) {
    .footer-area .single-footer-widget {
        margin-bottom: 30px; } }
.footer-area .single-footer-widget h4 {
    color: #ffffff;
    margin-bottom: 35px; }
@media (max-width: 1024px) {
    .footer-area .single-footer-widget h4 {
        font-size: 18px; } }
@media (max-width: 991px) {
    .footer-area .single-footer-widget h4 {
        margin-bottom: 15px; } }
.footer-area .single-footer-widget ul {
    padding-left: 0; }
.footer-area .single-footer-widget ul li {
    margin-bottom: 15px;
    list-style: none; }
.footer-area .single-footer-widget ul li a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #7b838a; }
.footer-area .single-footer-widget ul li a:hover {
    color: #ffffff; }
.footer-area .single-footer-widget .form-wrap {
    margin-top: 25px; }
.footer-area .single-footer-widget input {
    height: 40px;
    border: none;
    width: 90% !important;
    font-weight: 300;
    background: #334f6c;
    color: #ffffff;
    border-radius: 0;
    font-size: 14px;
    padding: 10px 10px 10px 20px;
}
.footer-area .single-footer-widget input:focus {
    outline: none;
    box-shadow: none; }
.footer-area .single-footer-widget .click-btn3 {
    background: #fdc632;
    height: 40px;
    background-size: 200% auto;
    color: #002347;
    border-radius: 0;
    padding: 8px 20px;
    margin-left: -40px;
    font-size: 12px;
    border: none;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    transition: all 0.3s ease 0s; }
.footer-area .single-footer-widget .click-btn3 span {
    font-weight: 500; }
.footer-area .single-footer-widget .click-btn3:focus {
    outline: none;
    box-shadow: none; }
.footer-area .single-footer-widget .click-btn3:hover {
    background-position: right center; }
.footer-area .footer-bottom {
    margin-top: 50px; }
@media (max-width: 991px) {
    .footer-area .footer-bottom {
        margin-top: 20px; } }
.footer-area .footer-bottom a {
    color: #fdc632; }
.footer-area .footer-bottom .footer-social {
    text-align: right; }
.footer-area .footer-bottom .footer-social a {
    background: #334f6c;
    width: 20px;
    display: inline-table;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    transition: all 0.3s ease 0s; }
.footer-area .footer-bottom .footer-social a:hover {
    background: #fdc632; }
.footer-area .footer-bottom .footer-social a:hover i {
    color: #002347; }
.footer-area .footer-bottom .footer-social i {
    color: #cccccc;
    transition: all 0.3s ease 0s; }
@media (max-width: 991px) {
    .footer-area .footer-bottom .footer-social {
        text-align: left;
        margin-top: 20px; } }

/*---------------------------------------------------- */

